/* ---------- 섬디 리스트 ---------- */
.somdPage_header{
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overscroll-behavior: contain;
    z-index: 1;
    flex-shrink: 0;
}

.somdList{
    margin-bottom:10px;
    border: 3px solid #0ECC87;
    border-radius: 10px;
    padding: 10px 10px 15px 10px;
}

.somdList_text{
    font-size: 25px;
    padding: 0 0 5px 0;
}

.somdList_text>span{
    color:#0ECC87;
}

/* ---------- 아이콘 박스 ---------- */
.icon_box{
    height: 95px;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}


.icon_box>.name{
    font-size: 12px;
    padding: 3px 3px;
    width: 80px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 	
    
}
/* ---------- 더보기 ---------- */
.more>.button{
    width: 50px;
    height: 70px;
    padding: 3px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.more>.button>i{
    font-size: 20px;
}

/* ---------- 카테고리 리스트 ---------- */
.list{
    display: flex;
    justify-content: start;

    margin-bottom: 5px;
}

.collegeSomdList>.list{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.collegeSomdList .icon_box{
    justify-content: start;
    width: calc(100%/4);
    margin-bottom: 5px;
}

.collegeSomdList .somd>.image{
    border: none;
}

.collegeSomdList .warning{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;    
}
.collegeSomdList .warning> i{
    margin: 10px;
    font-size: 20px;
}

.departmentTitle{
    padding:5px;

    color: #0ECC87;
    border-radius: 20px;
    font-size: 16px;
}

.collegeTitle{
    z-index: 2;
    padding: 5px 0px;
    margin: 0px 15px 10px 15px;
    border-bottom: solid 1px lightgrey;
    color: #282828;
    /* background-color: #0ECC87; */
    font-size: 20px;
    font-weight: 500;

    display: flex;
    justify-content: space-between;
}

.collegeTitle>div{
    z-index: 1;
}
.collegeTitle>i{
    z-index: 1;
    color: lightgrey;
}


.somd_list{
    flex-grow: 1;
    overflow: hidden;
}

.somd_list>.somd_list_for_scroll{
    width: 100%;
    height: 95px;
    display: flex;
    overflow: scroll;
    flex-shrink: 1;
}

.somd>.image{
    flex-shrink: 0;
    flex-basis: 70px;
    width: 70px;
    height: 70px;
    border: 3px solid #0ECC87;
    border-radius: 50%;
}



.option{
    width: 100%;
    align-items: center;
    margin:10px 0px 15px 0px;
    font-size: 20px;
    display: flex;

    color:grey;
}

.view{
    height: 100%;
    display: flex;
    border:solid 2px grey;
    padding: 3px;
    border-radius: 5px;
}

.view>select{
    font-size: 15px;
    color: grey;
}

.search{
    height: 40px;
    margin-right: 5px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    border:solid 2px grey;
    padding: 3px;
    border-radius: 5px;
}

.search> input{
    width: 100%;
    height: 30px;
    font-size: 15px;
    border: none;
    padding: 0px 3px;
}
.search> i{
    padding: 0px 5px;
    font-size: 20px;
}



.EmptyForTitle{
    flex-shrink: 0;
    width: 100%;
    z-index: 1;
}


.button{
    /* width: 120px;
    height: 40px; */
    padding: 7px 25px;
    /* background-color: lightgrey; */
    color: lightgrey;
    margin: 0px 0px;

    border: solid 2px #0ECC87;
    background-color: white;
    color: #0ECC87;
    display:inline-block;
    border-radius: 20px;
    font-size: 15px;
}