.header{
    position: fixed;
    top:0px;
    left: 0px;

    width: 100%;
    height: 50px;
    
    z-index: 3;
    background-color: beige;

    display: flex;
    align-items: center;
    justify-content: center;
}

.EmptyForHeader{
    z-index: 3;
    width: 100%;
    height: 50px;

    flex-shrink: 0;
}

.header>.logo{
  text-decoration: none;
  color:#0ECC87;
  font-size: 20px;
}






.remove {
    animation: removeHeader 0.3s;
    animation-fill-mode: forwards;
  }

  @keyframes removeHeader {
    0% {
      top: 0px;
    }
    100% {
      top: -50px;
    }
  }

  .removeEmpty{
    animation: removeEmpty 0.3s;
    animation-fill-mode: forwards;
  }
  @keyframes removeEmpty {
    0% {
      height: 50px;
    }
    100% {
      height: 0px;
    }
  }

.add {
    animation: addHeader 0.3s;
    animation-fill-mode: forwards;
  }

  @keyframes addHeader {
    0% {
      top: -50px;
    }
    100% {
      top: 0px;
    }
  }

  
  .addEmpty{
    animation: addEmpty 0.3s;
    animation-fill-mode: forwards;
  }
  @keyframes addEmpty {
    0% {
      height: 0px;
    }
    100% {
      height: 50px;
    }
  }

/* <section class="header"></section>
    <section class="EmptyForHeader"></section> */