.somdList{
    margin:20px 0px 25px 0px;
    border: 3px solid #0ECC87;
    border-radius: 10px;
    padding: 5px 10px 10px 10px;
}

.somdList_text{
    font-size: 25px;
    padding: 0 0 10px 0;
}

.somdList_text>span{
    color:#0ECC87;
}

.icon_box{
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

.icon_box>.name{
    font-size: 12px;
    padding: 3px 3px;
    width: 80px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 	
    
}

.more>.button{
    width: 50px;
    height: 70px;
    padding: 3px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.more>.button>i{
    font-size: 20px;
}


.somdList>.list{
    height: 100px;
    display: flex;
    justify-content: start;
}

.somd_list{
    flex-grow: 1;
    flex-wrap: no-wrap;
    overflow: hidden;
}


.somd_list>.somd_list_for_scroll{
    width: 100%;
    height: 100px;
    display: flex;
    overflow: scroll;
    flex-shrink: 1;
}

.somd>.image{
    flex-shrink: 0;
    flex-basis: 70px;
    width: 70px;
    height: 70px;
    border: 3px solid #0ECC87;
    border-radius: 50%;
}


.now.somd{
    background-color: #0ECC87;
}

