.button {
  font-size: 15px;
  display: inline;
  padding: 2px 5px;
  margin: 20px 0px;
  margin-bottom: 30px;
  border: 3px solid #0ecc87;
  background-color: #0ecc87;
  color: white;
  border-radius: 5px;
}

a {
  margin-left: auto;
}

.header {
  display: flex;
  justify-content: center;
}

.titlebtn {
  margin-bottom: 20px;
}

.fas {
  color: white;
  font-weight: 900;
}

.mainForm {
  margin: 0 10px 0 20px;
}

.newMemberForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.newMemberName {
  width: 20%;
  font-weight: bold;
  color: #0ecc87;
}

.newMemberFormTitle {
  border: 1px solid #0ecc87;
  width: 70%;
  border-radius: 5px;
}

.existingMember {
  width: 100%;
  border: 1px solid #0ecc87;
  border-radius: 10px;
  background-color: #0ecc87;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.existingMemberInfo {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.deleteBtn {
  background-color: white;
  color: #0ecc87;
  width: 15%;
  text-align: center;
  height: 100%;
  border-radius: 5px;
}

.existingMemberName {
  width: 100%;
  font-weight: 1000;
  font-size: 20px;
  color: white;
}

.existingMemberCol {
  width: 100%;
  font-size: 4px;
  color: white;
}

.manageMemberForm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.draggable {
  cursor: move;
}

/* 팝업 창을 가리키는 클래스 */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0ecc87;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 75%;
  height: 40%;
}

.popupjoinform {
  background-color: white;
  width: 100%;
  height: 80%;
}

.popup p {
  color: white;
}

.popupName {
  color: black;
  font-weight: bolder;
  font-size: 10px;
}

.popupTitle {
  color: darkgrey;
  font-size: 8px;
}

.popupBtns {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.popupBtn {
  border-radius: 5px;
  background-color: white;
  color: #0ecc87;
  width: 30%;
  text-align: center;
}
