.somdList{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 20px;
}

.somdList .join{
    border: solid 3px #0ECC87;;
    border-radius: 10px;
    background-color: #0ECC87;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 10px;
    margin-bottom: 10px;
    color: white;
}

.somdList .wait{
    border: solid 3px #0ECC87;;
    border-radius: 10px;
    /* background-color: #0ECC87; */
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 10px;
    margin-bottom: 20px;
    color: #0ECC87;
}

.somdList>.somd>.icon{
    margin-right: 5px;
}
.somdList>.somd>.information{
    display: flex;
    flex-direction: column;

    padding: 0px 10px;
}

.somdList>.somd>.information>.name{
    font-size: 15px;
}
.somdList>.somd>.information>.intro{
    font-size: 8px;
    height: 10px;
    margin-bottom: 3px;
}
.somdList>.somd>.information>.college{
    font-size: 8px;
}

.title{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.title>.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #0ECC87;
}
.title>.text{
    color:#0ECC87;
    font-size: 20px;
    padding: 5px;
}


.section_title{
    /* padding:0px 10px; */
    color: #0ECC87;
    font-size: 25px;
    /* margin-top: 20px; */
    /* margin-top: 40px; */
    margin-bottom: 10px;
    padding: 0px 10px 5px 10px;
    border-bottom: solid lightgrey 1px;
}

