.navbar{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 100%;
    height: 70px;

    padding:0px 20px;
    background-color: #F8FFEE;
}


.navbar>.icon{
    text-decoration: none;
    color: #000000;
    width: 70px;
    align-items: center;
}

.navbar>a>i{
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.navbar>.icon>.text{
    font-size: 15px;
    text-align: center;
}
