.Post> .list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.post_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.post_header>.profile{
    padding: 0px 5px;
    display: flex;
}
.post_header>.profile>.image{
    width: 35px;
    height: 35px;
    background-color: #0ECC87;
    border-radius: 50%;
}
.post_header>.profile>.name{
    padding: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post_header>i{
    padding: 5px;
}


.post{
    width:180px;
}

.about_post{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid #000000;
    border-radius: 5px;
    padding:10px 0px 5px 0px;
    margin:10px 0px 15px 0;

    display: flex;
    flex-direction: column;
}

.about_post>.image{
    border: 2px solid #0ECC87;
    width: 160px;
    height: 100px;
}

.about_post>.text{
    width: 160px;
    height: 80px;
    padding: 3px 5px;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 5px 0px;

    font-size: 15px;
}

.about_post>.text>.body{
    flex-grow: 1;
    font-size: 12px;
}

.about_post>.icon{
    width: 160px;
    display: flex;
    justify-content: end;
    font-size: 10px;
}

.about_post>.icon>div{
    padding: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_post>.icon>div>i{
    padding: 0 2px;
}
