.about_post:hover{
    color: #282828;
}

.about_post:focus{
    color: #282828;
}
.postContainer .postContainer_title{
    color: grey;
    font-size: 25px;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    padding: 0px 10px 10px 10px;
    border-bottom: solid lightgrey 1px;
}

.postContainer .list{
    padding-bottom: 25px;
}

.name>.somdname{
    font-size: 10px;
    color:lightgrey;
}

/* ----리스트형---- */

.linebyline_post .post_box{
    /* width:180%; */
    color: #282828;
}

.linebyline_post .icon{
    /* width: 160px; */
    font-size: 15px;
    color:grey;
}

.linebyline_post .postContainer .list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}



/* ----리스트형 헤더---- */
.linebyline_post .post_header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin:5px 5px;
    
}
.linebyline_post .post_header>.profile{
    width: 100%;
    padding: 0px 5px;
    display: flex;
}
.linebyline_post .post_header>.profile>.image{
    width: 35px;
    height: 35px;
    /* background-color: #0ECC87; */
    border-radius: 50%;
}
.linebyline_post .post_header>.profile>.name{
    flex-grow: 1;
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linebyline_post .post_header>i{
    padding: 5px;
}
.linebyline_post .post_header>.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color:grey;
}
.linebyline_post .post_header>.icon>i{
    width: 16px;
    height: 16px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 5px;
}
/* ----리스터형 내용---- */
.linebyline_post .about_post{    
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0px 5px 0;
}

.linebyline_post .about_post>.image{
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 0px 2px 1px rgba(77, 77, 77, 0.3);
    width: 80px;
    height: 80px;
    margin: 5px;
    flex-shrink: 0;

    position: relative;
}

.linebyline_post .about_post>.image>.image_more{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(77, 77, 77, 0.3);

    background-blend-mode: multiply;
    color: white;
}

.linebyline_post .about_post>.text{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 80px;
    padding: 0px 5px;
    /* padding-bottom: 0px; */
    /* border: 2px solid gray; */
    border-radius: 5px;
    margin: 5px 0px;

    font-size: 15px;
}

.linebyline_post .about_post>.text>.body{
    flex-grow: 1;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.linebyline_post .about_post>.text>.text{
    flex-grow: 1;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.linebyline_post .post_footer{
    margin:  0px 5px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.linebyline_post .post_footer>.icon{
    display: flex;
}

.linebyline_post .post_footer>.icon>div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}

.linebyline_post .post_footer i{
    margin: 3px;
    font-size: 15px;
    color:grey;
}

.linebyline_post:hover{
    color:#282828;
}





/* ----피드형---- */

.album_post .post_box{
    display: inline-block;
    width:176px;
    color: #282828;
}

.album_post .icon{
    /* width: 160px; */
    font-size: 15px;
    color:grey;
}

.album_post>.list{
    /* background-color: #0ECC87; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ----피드형 헤더---- */
.album_post .post_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:5px 5px;
    
}

.album_post .post_header>.profile{
    padding: 0px 5px;
    display: flex;
    width: 100%;
}
.album_post .post_header>.profile>.image{
    width: 35px;
    height: 35px;
    background-color: #0ECC87;
    border-radius: 50%;
}
.album_post .post_header>.profile>.name{
    flex-grow: 1;
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album_post .post_header>i{
    padding: 5px;
}
.album_post .post_header>.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color:grey;
}
.album_post .post_header>.icon>i{
    width: 16px;
    height: 16px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 5px;
}

/* ----피드형 내용---- */
.album_post .about_post{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid lightgrey;
    border-radius: 5px;
    padding:10px 0px 5px 0px;
    margin:10px 0px 5px 0;
}

.album_post .about_post>.image{
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 0px 2px 1px rgba(77, 77, 77, 0.3);
    width: 160px;
    height: 160px;
}

.album_post .about_post>.image>.image_more{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(77, 77, 77, 0.3);

    background-blend-mode: multiply;
    color: white;
}

.album_post .about_post>.text{
    width: 160px;
    /* height: 80px; */
    padding: 3px 5px;
    /* border: 2px solid gray; */
    border-radius: 5px;
    margin: 5px 0px;

    font-size: 15px;
}

.album_post .about_post>.text>.body{
    /* flex-grow: 1; */
    font-size: 0px;
    height: 0px;
}

.album_post .about_post>.icon{
    width: 160px;
    display: flex;
    justify-content: end;
    font-size: 10px;
}

.album_post .about_post>.icon>div{
    padding: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.album_post .about_post>.icon>div>i{
    padding: 0 2px;
}

.album_post .post_footer{
    margin:  0px 5px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.album_post .post_footer>.icon{
    display: flex;
}

.album_post .post_footer>.icon>div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}

.album_post .post_footer i{
    margin: 3px;
    font-size: 15px;
    color:grey;
}

.album_post:hover{
    color:#282828;
}