@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* { font-family: 'Pretendard-Regular'; 
    /* color:#282828; */
}

i {
	all: unset;
}

html, body{
    width: 100%;
    height: 100%;
}

/* * {border: 1px solid blue; }
.SDcontainer{border: solid 2px red;} */

i{
    display: flex;
    place-items: center;
}

button{
	all: unset;
}


a{
    all: unset;
}


.maincolor {
    color: #0ECC87;
}

.image{
    background-size: cover;
    background-position: center;
    overflow: hidden;
    object-fit: cover;
}

.SomDLogo{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    background-image: url("../image/SomDLogo.png");
}

body{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.SDcontainer{
    position: relative;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px 0px;
    width:390px;
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


.somdPage{
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overscroll-behavior: contain;
    z-index: 1;
}

.warning{
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;  
    color:grey;  
}
.warning> i{
    margin: 10px;
    font-size: 20px;
}

.warning:focus{
    color:grey;
}

@media (max-width: 390px) {
    .SDcontainer{
        width: 100%;
    }
  }


select{
    border: none;
    background-color: white;
    color: black;
}

.basic.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.basic.somd.image{
    color: #0ECC87;
    background-color: white;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mainTitle{
    width: 100%;
    /* margin:15px 0px 5px 0px; */
    padding: 0px 5px;
    color: #0ECC87;
    font-size: 20px;
    font-weight: 500;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainTitle>i{
    padding-right: 5px;
    font-size: 15px;

}
.mainTitle>div{
    flex-grow: 1;
}

.subTitle{
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 10px;
    background-color:#0ECC87 ;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    font-weight: 500;

    display: flex;
    justify-content: space-between;
}

* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}


input{
    border: none;
}
input:hover{
    outline: 0;
}
input:focus{
    outline: 0;
}

select{
    outline: 0;
}

section:hover{
    outline: 0;
}

select:focus{
    outline: 0;
}