html, body{
    width: 100%;
    height: 100%;
}

/* * {border: 1px solid blue; }
.SDcontainer{border: solid 2px red;} */

a{
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: white;
}

.maincolor {
    color: #0ECC87;
}

.image{
    background-repeat: round;
}

.SomDLogo{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    background-image: url("../image/SomDLogo.png");
}

body{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.SDcontainer{
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px 0px;
    width:390px;
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.somdPage>.title{
    margin:20px 10px;
    display: flex;
    align-items: center;
}
.somdPage>.title>.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #0ECC87;
}
.somdPage>.title>.text{
    color:#0ECC87;
    font-size: 20px;
    padding: 5px;
}

.warning{
    width: 100%;
    height: 100%;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
}

@media (max-width: 390px) {
    .SDcontainer{
        width: 100%;
    }
  }