.SDcontainer{
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input, select{
    border-color: #00E392;
    border-radius: 5px;
    border:#00E392 solid 2px;
    box-shadow: 0px 4px 3px -2px gray;
}

.titleSection {
    display: flex;
    flex-direction: flex-start;
    /* justify-content: center; */
}

.selectOption {
    width: 185px;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0.5rem;
    color: #00E392;
}

p {
    font-weight: bold;
    text-align: center;
}

.title {
    display: inline-flex;
    font-size: 30px;
    font-weight: bolder;
}

.upperMain{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    text-align: center;
    padding: 20px 20px;
}

.upperMainText {
    padding-left: 10px;
}

span{
    color:#00E392;
    font-weight:400;
    padding-top: 50px;
}

.signupBtn{
    background-color: #00E392;
    border: 0;
    width: 140px;
    height: 50px;
    border-radius: 5px;
    margin-top: 20px;
}

.mainbody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    /* border:2px solid #00E392; */
    /* box-shadow: 0px 7px 3px -2px gray; */
}

.mainCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;

}

.inputLabel1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90px;
    height: 100%;


    /* border: 1px solid brown; */
}

.inputLabel2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90px;
    height: 100%;
    /* border: 1px solid blue; */
}

.inputBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 100%;

    /* border: 1px solid black; */
}

.inputBox input{
    margin: 5px 0;
    margin-top: 20px;
    width: 80%;
}
.inputBox input{
    margin: 5px 0;
}

.birth {
    display: flex;
    flex-direction: row;
}
.birth input {
    width: 80px;
    margin-right: 15px;
}


.email {
    padding-bottom: 10px;
    margin-top: -10px;
}

.inputBlank {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.inputAndAlert {
    display: flex;
    flex-direction: column;
}

.errorMsg {
    font-size: 12px;
    color: red;
    padding-top: 7px;
}

#idError {
    font-size: 12px;
    color: blue;
    padding-top: 7px;
}