*{
    font-size: 15px;
}
.somd_register{
    display: flex;
    flex-direction: column;
}

.info>section{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.feed_header{
    height: 160px;
    position: relative;
}

.background{
    position: relative;
    width: 100%;
    height: 120px;
    /* background-color: beige; */
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
}
.image>i{
    z-index: 1;
}

.profile.image{
    margin: 0px 8px;
    position: absolute;
    transform: translate(0,-50%);
    width: 80px;
    height: 80px;
    border: 3px solid white;
    /* background-color: #0ECC87; */
    border-radius: 50%;
}

.info{
    margin: 10px 0px;
    width: 100%;
}

.info>section{
    width: 100%;
    display: flex;
    justify-content: start;
}

.somd_register .label{
    width: 100px;
    height: 38.5px;
    color: #0ECC87;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.info .text{
    flex-grow: 1;
    border-radius: 5px;
    border: 3px solid #0ECC87;
    padding: 5px;
}

.select{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

select{
    border-radius: 5px;
    border: 3px solid #0ECC87;
    padding: 5px;
}

#college{
    margin-bottom: 6px;
}

.somd_register .long.text{
    height: 70px;
}


section .button_case{
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: end;
}
.button{
    display: inline;
    padding: 3px 5px;
    border: 3px solid #0ECC87;
    background-color: #0ECC87;
    color: white;
    border-radius: 5px;
}

input{
    border: none;
}

input[type="file"] {
    display: none;
}

.somd_register>.feed_header label{
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 100%;
    height: 100%;

    background-color: grey;
    opacity: 0.5;
    background-blend-mode: multiply;
}

.profile>label{
    border-radius: 50%;
}

.image label{
    mix-blend-mode: multiply;
}

button{
    display: inline;
    padding: 3px 5px;
    border: 3px solid #0ECC87;
    background-color: #0ECC87;
    color: white;
    border-radius: 5px;
    margin-bottom: 0;
}


/* ----태그용---- */

.somd_register>.info .tag_box{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 0;
}

.somd_register>.info .tag_box>label{
    border: solid 3px #0ECC87;
    color: #0ECC87;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}


.somd_register>.info .tag{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.somd_register>.info .tag>.input_tag{
    display: flex;
    /* width: 100%; */
    margin: 5px;
}

.somd_register>.info .tag>.input_tag>input{
    flex-grow: 1;
    background-color: rgb(250, 250, 250);
    margin-right: 3px;
    padding: 5px;
    border-radius: 5px;
}
.somd_register>.info .tag>.input_tag>.button{

}