{% load static %}
<!-- {% if user.is_authenticated %} -->

<section class="BlurForSidebar"></section>

<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<section class="sidebar_container">
{% if user.id == 13 %}
    <div class="NEED_TO_LOGIN"><a class="logout" href="{% url 'accounts:logout' %}"></a>로그인하세요</div>
{% else %}
    <section class="sidebar">
        <a class="logout" href="{% url 'accounts:logout' %}">
            <i class="fa-solid fa-right-from-bracket"></i>
            로그아웃
        </a>
        <div class="profile">
            <div class="image" style="background-image:url({{user.profile.profile_pic.url}});"></div>
            <div class="info">
                <div class="name">{{ user.profile.nickname }}</div>
                <div class="department">{{ user.profile.college }}</div>
                <div class="department">{{ user.profile.department }}</div>
            </div>
            <!-- <i class="fa-solid fa-angle-right"></i> -->
        </div>
    
        <section class="linkList">
            <a href="{% url 'users:mypage' %}">마이페이지</a>
            <a class="icon" href="{% url 'main:scrap_view' %}">스크랩한 게시물</a>
        </section>
    </section>
{% endif %}
    <div class="bottom">
        <div class="icon sidebar_button_close">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
</section>
<section class="navbar">
    
    <!-- 메인페이지 링크 연결 -->
    <a class="icon" href="{% url 'main:mainpage' %}">
        <i class="mainpageIcon fa-solid fa-house"></i>
        <!-- <div class="text">메인홈</div> -->
    </a>

    <!-- 나의 솜디 링크 연결 -->
    <a class="icon" href="{% url 'main:mysomd' %}">
        <i class="mysomdIcon fa-solid fa-user-group"></i>
        <!-- <div class="text">나의솜디</div> -->
    </a>

        <!-- 솜디 게시판 링크 연결 -->
        <a class="icon" href="{% url 'main:board' %}">
            <!-- <div class="boardIcon">
                <i class="fa-solid fa-stop"></i>
                <i class="fa-solid fa-stop"></i>
                <i class="fa-solid fa-stop"></i>
                <i class="fa-solid fa-stop"></i>
            </div> -->
            <i class="boardIcon fa-solid fa-server"></i>
            <!-- <i class="fa-solid fa-grid-2"></i> -->
            <!-- <div class="text">전체솜디</div> -->
        </a>

    <!-- 마이페이지 링크 연결 -->
    <a class="icon sidebar_button">
        <i class="fa-solid fa-circle-user"></i>
        <!-- <div class="text">더보기</div> -->
    </a>

</section>

<!-- {% endif %} -->

<script src="{% static 'js/header.js' %}"></script>
