{% load static %}
{% if user.is_authenticated %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<section class="navbar">
    <!-- mainpage 링크 연결 -->

    <a class="logo" href="{% url 'main:mainpage' %}">SOM D</a>


    <!-- 솜디 게시판 링크 연결 -->
    <a class="icon" href="{% url 'main:board' %}">
        <i class="fa-solid fa-user-group"></i>
        <div class="text">솜디 게시판</div>
    </a>

    <!-- 나의 솜디 링크 연결 -->
    <a class="icon" href="{% url 'main:mysomd' %}">
        <i class="fa-solid fa-mobile-screen-button"></i>
        <div class="text">나의 솜디</div>
    </a>

    <!-- 마이페이지 링크 연결 -->
    <a class="icon" href="{% url 'users:mypage' %}">
        <i class="fa-solid fa-user-large"></i>
        <div class="text">마이 페이지</div>
    </a>
</section>
<section class="EmptyforNav"></section>
{% endif %}