{% extends 'start_base.html' %}
{% load static %}
{% block content %}

<!-- <section class="header">
    <section class="mainTitle">
    </section>
</section> -->

<link rel="stylesheet" type="text/css" href="{% static 'css/start.css' %}">

<section class="somdStart">
    <!-- <i class="fa-solid fa-triangle-exclamation" style="font-size: 50px; padding-bottom: 30px; color:#0ecc87"></i> -->

    <i class="fa-solid fa-hand-point-up" style="font-size: 50px; padding-bottom: 30px; color:#0ecc87" onClick="window.location.href = '/'"></i>
    <div class="title" style="font-size: 22px;">로그인이 필요한 기능입니다! </div>
    <div class="sub title" style="margin-bottom: 20px;">로그인하시겠습니까?</div>

    <div class="buttons">
        <a class="button" href="{% url 'accounts:login' %}">로그인</a>
        <a ></a>
        <a class="button" href="{% url 'accounts:signup' %}">회원가입</a>
    </div>

    <div onclick="gotoBack()" style="color:lightgrey; font-size: 10px; margin-top:20px; ">이전 페이지</div>
</section>


<script>
    let beforeLink = document.referrer
    function gotoBack(){
        
            location.href = beforeLink;
        
    }
</script>
{% endblock %}