.pagenation_box{
    display: flex;
    justify-content: center;
    align-items: center;

}
.pagenation{
    bottom:20px;
    /* background-color: lightgrey; */
    /* border-radius: 10px; */
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-bottom: 20px;
}
.pagenation span{
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
    color:  grey;
    height: 50px;
}

.needTojoin{
    /* background-color: lightgrey; */
    border: solid 1px lightgrey;
    color: grey;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    margin-bottom:20px;
    border-radius: 5px;
}

.mainfeed{
    display: flex;
    flex-direction: column;
}

.feed_header{
    /* height: 215px; */
    position: relative;
    margin-bottom: 20px;
}
.background{
    position: relative;
    height: 120px;
    background-color: beige;
}
.background>.info{
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: end;
    font-size: 12px;
} 
.feed_header>.profile{
    padding: 0px 8px;
    position: absolute;
    transform: translate(0,-50%);
}
.feed_header>.profile>.image{
    width: 80px;
    height: 80px;
    border: 3px solid white;
    border-radius: 50%;
}

.feed_header>.info{
    /* position: absolute;
    bottom:0px; */
    margin-top: 40px;
    padding: 00px 10px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: grey;
}
.feed_header>.info>.name{
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 25px;
    color: black    ;
}

.feed_header>.info>.intro{
    margin-bottom: 10px;
}
.bookmark{
    position: absolute;
    right: 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #0ECC87;
}
.bookmark:hover{
    color: #0ECC87;
}
.bookmark:focus{
    color:#0ECC87;
}

.option{
    
    justify-content: end;
    align-items: center;
    /* margin:10px 0px 10px 0px; */
    font-size: 20px;
    display: flex;

    color:grey;
}
.option>#container_notice{
    padding-left: 10px;
    flex-grow: 1;
    font-size: 10px;
    color: lightgrey;
}

.view{
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:solid 1px lightgrey;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}

.view>select{
    font-size: 15px;
    color: grey;
}

.search{
    height: 40px;
    margin-right: 5px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    border:solid 1px lightgrey;
    padding: 3px;
    border-radius: 5px;
}

.search> input{
    width: 100%;
    height: 30px;
    font-size: 15px;
    border: none;
    padding: 0px 3px;
}
.search> i{
    padding: 0px 5px;
    font-size: 20px;
}

/* ----글쓰기버튼---- */
.writeButton{
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0ECC87;
    /* border: 2px white solid; */
    color: white;
    box-shadow: 0 0px 2px 1px rgba(169, 169, 169, 0.299);;;
}

.writeButton:hover{
    color: white;
}

.row_tag_box{
    width: 100%;
    height: 40px;

    margin: 10px 0px 10px 0px;
}

.row_tag_box_for_scroll{
    /* height: 40px; */
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
}

.row_tag_box .tag_label{
    border: solid 3px lightgrey;
    background-color: lightgrey;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 10px;
    flex-shrink: 0;
}