{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
<section class="header"></section>
<section class="EmptyForHeader"></section>
<section class="somdPage">
    <section class="mypage">
        <section class="first">
            <div class="label">프로필 사진</div>
            <div class="box">
                <div class="image" style="background-image:url({{user.profile.profile_pic.url}});"></div>
                </div>
                <a href="" class="button"><span><i class="fa-solid fa-pen"></i> 수정</span></a>
            </div>
        </section>

        <section>
            <div class="label">닉네임</div>
            <div class="text">{{ user.profile.nickname }}</div>
        </section>

        <section>
            <div class="label">소속학과</div>
            <div class="text">{{ user.profile.department }}</div>
        </section>

        <section>
            <div class="label">자기소개</div>
            <div class="long text"></div>
        </section>

        <section>

            <div class="label">활동중인 소모임</div>
{%if somds%}
    <div class="somd_list">
        {% for somd in somds %}
        <div class="text">
            <div class="name">{{ somd.name }}</div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <div class="text">
        <section class="warning">아직 가입된 소모임이 없습니다!<br>소모임을 가입해보세요!</section>
    </div>
    
    {%endif%}
        </section>
    </section>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
    <a href="{% url 'accounts:deleteUser' %}">탈퇴</a>
</section>
{% endblock %}