{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">

<section class="header">
    <section class="mainTitle">
        <a href="{% url 'main:mainpage' %}"><i class="fa-solid fa-chevron-left"></i></a>
        <!-- <i class="fa-solid fa-house"></i> -->
        <div>{{ somd.name }}</div>
         <a href="{% url 'users:mypage_edit' %}" class="button"><span><i class="fa-solid fa-pen"></i> 수정</span></a>
    </section>
</section>
<section class="EmptyForHeader"></section>


<section class="somdPage">
    <section class="mypage">
        <section class="top">
            <div class="profile-pic-preview profile image" style="background-image:url({{user.profile.profile_pic.url}});"></div>
        </section>
        <section class="middle">
            <div class="fixinfo">{{ user.profile.email }}</div>
            <div class="fixinfo">{{ user.profile.birth }} / {{ user.profile.gender }}</div>
        </section>

        <section class="item">
            <div class="label">ID</div>
            <div class="text">{{ user.username}}</div>
        </section>

        <section class="item">
            <div class="label">닉네임</div>
            <div class="text" style="justify-content: start;">{{ user.profile.nickname }}  <p style="color:lightgrey; margin-bottom:0px; margin-left: 5px;">  ({{ user.profile.name }})</p></div>
        </section>

        <section class="item">
            <div class="label">자기소개</div>
            <div class="long text">{{ user.profile.intro }}</div>
        </section>

        <section class="item">
            <div class="label">소속대학</div>
            <div class="text">
                {{ user.profile.college }}
                <br>
                {{ user.profile.department }}
            </div>
        </section>


        <section class="bottom item">
            <div class="label">내 소모임</div>
{%if somds%}
    <div class="somd_list">
        {% for somd in somds %}
        <div class="text">
            <div class="name">{{ somd.name }}</div>
            <i class="fa-regular fa-star"></i>
        </div>
        {% endfor %}
    </div>

{% else %}
    <div class="text">
        <section class="warning">아직 가입된 소모임이 없습니다!<br>소모임을 가입해보세요!</section>
    </div>
    
{%endif%}
        </section>
    </section>

</section>
{% endblock %}