{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">

<section class="somdPage_header"></section>

<section class="somdPage">
    <section class="mainTitle">
        <i class="fa-solid fa-house"></i>
        솜디게시판
        <a href="{% url 'main:register' %}">SOM D 등록</a>
    </section>


    <section class="somdList">
        <div class="somdList_text"><span>SOMD </span>RANK</div>
        <div class="list">
            <div class="somd_list">

                <div class="somd_list_for_scroll">
                    {% for somd in somds %}
                    <a class="somd icon_box" href="{% url 'main:mainfeed' somd.id %}">
                        <div class="image"
                            style="background-image:url({{somd.profileimage.url}});"></div>
                        <div class="name">{{somd.name}}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
    </section>

    <section class="option">
        <form class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text">
        </form>
    
        <form class="view">
            <select name="view_option" id="lang">
                <option value="feed">피드형</option>
                <option value="list">리스트형</option>
            </select>
        </form>
    </section>


    <section class="EmptyForTitle"> </section>
    
    <section class="all_somdList">

    </section>
</section>  


<script>
const departmentsByCollege = {
    불교대학: ['불교대학', '불교학부', '문화재학과'],
    문과대학: ['문과대학','국어국문문예창작학부', '영어영문학전공', '영어통번역학전공', '일본학과', '중어중문학과', '철학과', '사학과'],
    이과대학: ['이과대학','수학과', '화학과', '통계학과', '물리반도체과학부'],
    법과대학: ['법과대학','법학과'],
    사회과학대학: ['사회과학대학','정치외교학전공', '행정학전공', '북한학전공', '경제학과', '국제통상학과', '사회학전공', '미디어커뮤니케이션학전공', '식품산업관리학과', '광고홍보학과', '사회복지학과'],
    경찰사법대학: ['경찰사법대학','경찰행정학부'],
    경영대학: ['경영대학','경영학과', '회계학과', '경영정보학과'],
    바이오시스템대학: ['바이오시스템대학','바이오환경학과', '생명과학과', '식품생명공학과', '의생명공학과'],
    공과대학: ['공과대학','전자전기공학부', '정보통신공학과', '건설환경공학과', '화공생물공학과', '기계로봇에너지공학과', '건축공학전공', '건축학전공', '산업시스템공학과', '융합에너지신소재공학과'],
    AI융합대학: ['AI융합대학','AI소프트웨어융합학부', '컴퓨터공학전공', '멀티미디어소프트웨어공학전공', '인공지능전공', '데이터사이언스전공', '엔터테인먼트테크놀로지전공'],
    사범대학: ['사범대학','교육학과', '국어교육과', '역사교육과', '지리교육과', '수학교육과', '가정교육과', '체육교육과'],
    예술대학: ['예술대학','미술학부', '연극학부', '영화영상학과', '스포츠문화학과', '한국음악과'],
    약학대학: ['약학대학','약학과'],
    미래융합대학: ['미래융합대학','융합보안학과', '사회복지상담학과', '글로벌무역학과'],
};

//----유저 솜디 기본 설정하기

var department_Somd = {}; //솜디를 과별로 구분하기 위해, 미리 박스를 만들어둔다.
for (const key in departmentsByCollege){
    for(const item in departmentsByCollege[key]){
        department_Somd[ departmentsByCollege[key][item] ] = [];
    }
}

let somds = [];
let somd = {};
{% for somd in somds %}
    somd ={};
    somd['name'] = "{{ somd.name }}";
    somd['department'] = "{{ somd.department }}";
    somd['a_href'] = "{% url 'main:mainfeed' somd.id %}"
    somd['profileimage'] = "{{somd.profileimage.url}}"
    somds.push(somd);

    if(somd['department'] in department_Somd){
        department_Somd[somd['department']].push(somd)
    }
{% endfor %}


//----솜디 카테고리 출력하기

const allsomdList = document.querySelector(".all_somdList");


for (const college in departmentsByCollege){
    const departments = departmentsByCollege[college]
    let collegeTitle_box = document.createElement("section");
    collegeTitle_box.className ="collegeTitle_box";
    allsomdList.append(collegeTitle_box);
    let collegeTitle = document.createElement("section");
    collegeTitle.classList.add('collegeTitle');
    let text = document.createElement("div");
    text.innerText = college;
    let toggle = document.createElement("i");
    toggle.className = "fa-solid fa-chevron-down";
    toggle.classList.add("toggle");
    collegeTitle_box.appendChild(collegeTitle);
    collegeTitle.appendChild(text);
    collegeTitle.appendChild(toggle);
}


const openCollege = { //솜디의 카테고리가 열려있는지 닫혀있는지 확인하기
    불교대학: false,
    문과대학: false,
    이과대학: false,
    법과대학: false,
    사회과학대학: false,
    경찰사법대학: false,
    경영대학: false,
    바이오시스템대학: false,
    공과대학: false,
    AI융합대학: false,
    사범대학: false,
    예술대학: false,
    약학대학: false,
    미래융합대학: false,
};


function toggleButton_click(event){
    let collegeTitle = event.target;

    if(event.target.className != "collegeTitle"){
        collegeTitle = event.target.parentNode;
    }

    let toggle_category = collegeTitle.firstChild.innerText;
    let toggle_icon = collegeTitle.lastChild;

    // console.log(toggle_category+toggle_icon);
    
    if (openCollege[toggle_category]){ //카테고리 닫을거예요
        toggle_icon.className = "fa-solid fa-chevron-down";
        openCollege[toggle_category] = false;

        (collegeTitle.parentNode.lastChild).remove();
    }

    else{ //카테고리 얼거예요
        let departments = departmentsByCollege[toggle_category];

        let collegeSomdList = document.createElement("section");
        collegeSomdList.className = "collegeSomdList"

        collegeTitle.parentNode.append(collegeSomdList);

        for(const department of departments){
            
            let list = document.createElement("section");
            list.className = "list"

            if(department_Somd[department].length != 0){
                // console.log(department);
                
                let departmentTitle = document.createElement("div");
                departmentTitle.className = "departmentTitle"
                departmentTitle.innerText = "◦" + department;
                
                collegeSomdList.appendChild(departmentTitle);
                collegeSomdList.appendChild(list);
                for(const somd of department_Somd[department]){

                    let icon = document.createElement("a");
                    icon.href = somd.a_href;
                    icon.className = "somd icon_box";
                    
                    let iconName = document.createElement("div");
                    iconName.className = "name";
                    iconName.innerText = somd.name;

                    let iconImage = document.createElement("div");
                    iconImage.className = "image";
                    iconImage.style = "background-image:url("+somd.profileimage+");"
                    icon.appendChild(iconImage);
                    icon.appendChild(iconName);


                    list.appendChild(icon);
                }
            }
        }

        toggle_icon.className = "fa-solid fa-chevron-up";
        openCollege[toggle_category] = true;

        if(collegeTitle.parentNode.querySelector(".list") == null){
                let warning = document.createElement("a");
                warning.className ="warning";
                warning.href = "{% url 'main:register' %}"
                warning.innerText = toggle_category+"의 소모임이 아직 없습니다.\n소모임을 만들어보세요!"
                collegeSomdList.appendChild(warning);

                warningIcon = document.createElement("i");
                warningIcon.className = "fa-solid fa-plus";
                warning.appendChild(warningIcon);
            }
        }
    // console.log(event.target);
}


var toggleButtons = document.getElementsByClassName("toggle");
// console.log(toggleButtons[2].parentElement.innerText);
for(item of toggleButtons){
    let category = item.parentElement;
    // console.log(category);
    category.addEventListener('click', toggleButton_click, {capture: true});
}





</script>
<script src="{% static 'js/scroll_board.js' %}"></script>
{% endblock %}
