{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/join.css' %}">

<section class="header">
    <a class="logo" href="{% url 'main:mainpage' %}">SOMD</a>
</section>
<section class="EmptyForHeader"></section>
<section class="somdPage">
    <section class="mainTitle">
        <i class="fas fa-sign-in-alt"></i>
        가입하기
    </section>

    <form action="{% url 'main:wantTojoin' somd.id  %}" class="wantTojoin" method="POST" enctype="multipart/form-data">
       {% csrf_token %}
        <div class="titlebtn">
            <a class="button">회원정보</a>
        </div>
    
        <div class="mainForm">
            <section class="joinForm">
                <input type="text" name="title" class="titleForm" placeholder="TITLE">
                <textarea type="text" name="motivation" class="textForm" placeholder="TEXT"></textarea>
            </section>
        </div>
        <button type="submit" class="button">제출하기</button>
    </section>

    </form>
    



{% endblock %}