{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
    <!-- <h1>솜디 게시판</h1> -->
    <!-- <a href="{% url 'main:register' %}">솜디 등록</a> -->

<link rel="stylesheet" type="text/css" href="{% static 'css/mainpage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">

<section class="header">
    <section class="mainTitle">
        <i class="fa-solid fa-house"></i>
        <div>
            메인페이지
        </div>
        <!-- <i class="fa-solid fa-bell" onclick="location.href = {% url 'main:alram' %}"></i> -->
    </section>
</section>
<section class="EmptyForHeader"></section>
<section class="subTitle"><i class="fa-solid fa-kiwi-bird"></i> New Post</section>
<section class="somdPage">

    {% if user.id == 13 %}
        <div class="NEED_TO_LOGIN"><a class="logout" href="{% url 'accounts:logout' %}">로그인하세요</div>
    {% else %}
        {% if somds %}
        <section class="postContainer linebyline_post">
            <div class="list">
                {% if posts %}
                <section class="Post">
                    {% for post in posts %}
                    <div class="post_box">
                        <section class="post_header">
                            <div class="profile">
                                <div class="image" style="background-image:url({{ post.writer.profile.profile_pic.url }});"></div>
                                <div class="name">
                                    <div class="username">{{ post.writer.profile.nickname }}</div>
                                    <div class="somdname">{{post.somd.name}}</div>
                                </div>
                            </div>
                        </section>
                        <a class="about_post" href="{% url 'main:viewpost' post.id %}">

                            {% if post.images.all %}
                                
                                <div class="image" style="background-image:url( {{ post.images.first.image.url }} );">
                                {% if post.images.all|length > 1 %}
                                    <div class="image_more">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                            {% endif %}
                        </div>
                            {% else %}
                                <div class="nonimage"></div>
                            {% endif %}
                            <div class="text">
                                <div class="title">{{ post.title }}</div>
                                <div class="body">{{ post.summary }}</div>
                                <!-- <div class="date">{{post.pub_date}}</div> -->
                            </div>
                        </a>
                        <section class="post_footer">
                            <div class="icon">
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                    <div>{{ post.like_count }}</div>
                                </div>
                                <div class="comment">
                                    <i class="fa-regular fa-message"></i>
                                    <div>{{ post.comment_count }}</div>
                                </div>
                            </div>

                        </section>
                    </div>
                    {% endfor %}
                    {% else %}
                    <section class="warning">아직 포스트가 없습니다!</section>
                    {% endif %}
            </section>
            {% endif %}
            </div>
            </section>
        {% endif %}
</section> 

{% else %}
<link rel="stylesheet" type="text/css" href="{% static 'css/start.css' %}">
    <section class="somdStart">
        <div class="SomDLogo image"></div>
        <div class="title">SOM D</div>
        <div class="sub title">동국대 소모임 네트워킹 서비스</div>
        <a class="start button" href="{% url 'main:mainpage' %}">시작하기</a>
        <a class="button" href="{% url 'accounts:login' %}">로그인</a>
        <a class="button" href="{% url 'accounts:signup' %}">회원가입</a>
    </section>
{% endif %}


<script src="{% static 'js/postContainer.js' %}"></script>

{% endblock %}