{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/mainfeed.css' %}">

<section class="header">
    <section class="mainTitle">
        <div class="historyBack"><i class="fa-solid fa-chevron-left"></i></div>
        <!-- <i class="fa-solid fa-house"></i> -->
        <div>{{ somd.name }}</div>

        <div class="button_case">
            {% if somd.admin.id == user.id %}
                <a class="button" href="{% url 'main:members' somd.id %}">관리하기</a>
                <a class="button" href="{% url 'main:somd_edit' somd.id %}">수정하기</a>
            {% endif %}

            {% if user in somd.waitTojoin_members.all %}
            <a class="button" href="">가입대기중</a>
            {% elif not user in somd.join_members.all %}
                <a class="button" href="{% url 'main:join' somd.id %}">가입하기</a>
            {% endif %}
            
        </div>

    </section>
</section>
<section class="EmptyForHeader"></section>

<section class="somdPage">
    <a class="writeButton" href="{% url 'main:new' somd.id%}"><i class="fa-solid fa-pen"></i></a>

    <section class="mainfeed">
        <section class="feed_header">
            {% if somd.backgroundimage %}
            <div class="background image" 
                style="background-image:url({{somd.backgroundimage.url}});">
            {% else %}
            <div class="background image">
            {% endif %}
                <a class="bookmark"><i class="fa-regular fa-star"></i></a>
                <div class="info">
                    <div>{{somd.college}}</div>
                    <div>{{ somd.department }}</div>
                </div>
            </div>

            <div class="profile">
            {% if somd.profileimage %}
            <div class="image" 
                style="background-image:url({{somd.profileimage.url}});"></div>
            {% else %}
            <div class="basic somd image">somd</div>
            {% endif %}
            </div>

            <div class="info">
                <div class="name">{{ somd.name }}</div>
                <div>{{ somd.intro }}</div>
                <!-- <div>{{ somd.admin.username }}</div> -->
            </div>
        </section>

        <div class="row_tag_box">
            <div class="row_tag_box_for_scroll">
                {% if somd.tags %}
                    {%for tag in somd.tags.all%}
                        <div class="tag_label">{{ tag.name }}</div>
                    {%endfor%}
                {%endif%}
            </div>
        </div>

        <section class="option">
            <form class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text">
            </form>
            <div class="view postContainer_control">
                <i class="fa-solid fa-image"></i>
                <i class="fa-solid fa-list"></i>
            </div>
        </section>
        
        <section class="postContainer linebyline_post">
            <div class="list">
                {% if fixed_posts %}
                {% for post in fixed_posts %}
                <a class="post_box" href="{% url 'main:viewpost' post.id %}">
                    <section class="post_header">
                        <div class="profile">
                            <div class="image" style="background-image:url({{ post.writer.profile.profile_pic.url }});"></div>
                            <div class="name">{{ post.writer.profile.nickname }}</div>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-thumbtack" onClick="location.href='{% url 'main:fix' post.id somd.id %}'"></i>
                            <p>됨.</p>
                        </div>
                        <div>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </section>
                    <div class="about_post">

                        {% if post.images.all %}
                            
                            <div class="image" style="background-image:url( {{ post.images.first.image.url }} );">
                            {% if post.images.all|length > 1 %}
                                <div class="image_more">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                            {% endif %}
                            </div>
                        {% else %}
                            <div class="nonimage"></div>
                        {% endif %}
                        <div class="text">
                            <div class="title">{{ post.title }}</div>
                            <div class="body">{{ post.summary }}</div>
                        </div>
                    </div>
                    <section class="post_footer">
                        <div class="icon">
                            <div class="like">
                                <i class="fa-solid fa-heart"></i>
                                <div>10</div>
                            </div>
                            <div class="comment">
                                <i class="fa-regular fa-message"></i>
                                <div>10</div>
                            </div>
                        </div>

                        <div class="scrap">
                            <i class="fa-regular fa-bookmark"></i>
                        </div>

                    </section>
                </a>
                {% endfor %}
                {% endif %}

                {% if posts %}
                {% for post in posts %}
                <a class="post_box" href="{% url 'main:viewpost' post.id %}">
                    <section class="post_header">
                        <div class="profile">
                            <div class="image" style="background-image:url({{ post.writer.profile.profile_pic.url }});"></div>
                            <div class="name">{{ post.writer.profile.nickname }}</div>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-thumbtack" onClick="location.href='{% url 'main:fix' post.id somd.id %}'"></i>
                            <p>안됨.</p>
                            
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </section>
                    <div class="about_post">

                        {% if post.images.all %}
                            
                            <div class="image" style="background-image:url( {{ post.images.first.image.url }} );">
                            {% if post.images.all|length > 1 %}
                                <div class="image_more">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                            {% endif %}
                            </div>
                        {% else %}
                            <div class="nonimage"></div>
                        {% endif %}
                        <div class="text">
                            <div class="title">{{ post.title }}</div>
                            <div class="body">{{ post.summary }}</div>
                        </div>
                    </div>
                    <section class="post_footer">
                        <div class="icon">
                            <div class="like">
                                <i class="fa-solid fa-heart"></i>
                                <div>10</div>
                            </div>
                            <div class="comment">
                                <i class="fa-regular fa-message"></i>
                                <div>10</div>
                            </div>
                        </div>

                        <div class="scrap">
                            <i class="fa-regular fa-bookmark"></i>
                        </div>

                    </section>
                </a>
                {% endfor %}
                {% else %}
                <section class="warning">아직 포스트가 없습니다!</section>
                {% endif %}
            </div>
        </section>
    
    </section> 

</section>


<script>
const postContainer_control = document.querySelector('.postContainer_control');
const postContainer_control_list = postContainer_control.querySelector('.fa-list');
const postContainer_control_feed = postContainer_control.querySelector('.fa-image');
let postContainer_control_state = "리스트";
postContainer_control_feed.style.color = "lightgrey";
// console.log("dd" + postContainer_control);

postContainer_control.addEventListener('click', function(event){

if(event.target == postContainer_control ||event.target  == postContainer_control_list || event.target == postContainer_control_feed){
    // console.log(event.target);
    let postContainer = document.querySelector(".postContainer");
    let nonImages = postContainer.getElementsByClassName("nonimage");
    // console.log(nonImages)
    if(postContainer_control_state == "리스트"){
        postContainer_control_state = "피드";
        postContainer_control_feed.style.color = "grey";
        postContainer_control_list.style.color = "lightgrey";
        postContainer.className = "postContainer album_post"
        // postContainer_control_icon.className = "fa-solid fa-list";

        for(image of nonImages){
            image.parentNode.parentNode.style.display = "block";
        }
    }
    else if (postContainer_control_state == "피드"){
        postContainer_control_state = "리스트"
        postContainer_control_list.style.color = "grey";
        postContainer_control_feed.style.color = "lightgrey";
        postContainer.className = "postContainer linebyline_post";
        
        // postContainer_control_icon.className = "fa-solid fa-image";

        for(image of nonImages){
            image.parentNode.parentNode.style.display = "block";
        }
    }
    
    // console.log(postContainer_control_state);
}
});

</script>

{% endblock %}

