{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/mainfeed.css' %}">

<section class="somdPage">
    <section class="mainfeed">
        <section class="write">
            <a href="{% url 'main:new' somd.id%}">글 쓰기</a>
        </section>
        <section class="feed_header">

            {% if somd.backgroundimage %}
            <div class="background image" 
                style="background-image:url({{somd.backgroundimage.url}});">
            {% else %}
            <div class="background image">
            {% endif %}
                <a class="bookmark"><i class="fa-regular fa-star"></i></a>
                <div class="info">
                    <div>#{{ somd.category }}</div>
                    <div>{{ somd.department }}</div>
                </div>
            </div>

            <div class="profile">
            {% if somd.profileimage %}
            <div class="image" 
                style="background-image:url({{somd.profileimage.url}});"></div>
            {% else %}
            <div class="basic somd image">somd</div>
            {% endif %}
            </div>
            

            <div class="info">
                <div class="name">{{ somd.name }}</div>
                <div>{{ somd.intro }}</div>
                <div>{{ somd.admin.username }}</div>
            </div>
            


        </section>
        <div>
            <br>
            
        </div>
        <section class="option">
            <form class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text">
            </form>

            <form class="view">
                <select name="view_option" id="lang">
                    <option value="feed">피드형</option>
                    <option value="list">리스트형</option>
                </select>
            </form>
        </section>
        
        <section class="Post">
            <div class="list">
                <div class="post">
                    <section class="post_header">
                        <div class="profile">
                            <div class="image"></div>
                            <div class="name">Somder1</div>
                        </div>
                        <i class="fa-solid fa-thumbtack"></i>
                    </section>
                    <div class="about_post">
                        <div class="image"></div>
                        
                        <div class="text">
                            <div class="title">Somd1</div>
                            <div class="body">text</div>
                        </div>
                        
                        <div class="icon">
                            <div class="like">
                                <i class="fa-solid fa-heart"></i>
                                <div>10</div>
                            </div>
                            <div class="comment">
                                <i class="fa-regular fa-message"></i>
                                <div>10</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="post">
                    <section class="post_header">
                        <div class="profile">
                            <div class="image"></div>
                            <div class="name">Somder1</div>
                        </div>
                        <i class="fa-solid fa-thumbtack"></i>
                    </section>
                    <div class="about_post">
                        <div class="image"></div>
                        
                        <div class="text">
                            <div class="title">Somd1</div>
                            <div class="body">text</div>
                        </div>
                        
                        <div class="icon">
                            <div class="like">
                                <i class="fa-solid fa-heart"></i>
                                <div>10</div>
                            </div>
                            <div class="comment">
                                <i class="fa-regular fa-message"></i>
                                <div>10</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="post">
                    <section class="post_header">
                        <div class="profile">
                            <div class="image"></div>
                            <div class="name">Somder1</div>
                        </div>
                        <i class="fa-solid fa-thumbtack"></i>
                    </section>
                    <div class="about_post">
                        <div class="image"></div>
                        
                        <div class="text">
                            <div class="title">Somd1</div>
                            <div class="body">text</div>
                        </div>
                        
                        <div class="icon">
                            <div class="like">
                                <i class="fa-solid fa-heart"></i>
                                <div>10</div>
                            </div>
                            <div class="comment">
                                <i class="fa-regular fa-message"></i>
                                <div>10</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="post">
                    <section class="post_header">
                        <div class="profile">
                            <div class="image"></div>
                            <div class="name">Somder1</div>
                        </div>
                        <i class="fa-solid fa-thumbtack"></i>
                    </section>
                    <div class="about_post">
                        <div class="image"></div>
                        
                        <div class="text">
                            <div class="title">Somd1</div>
                            <div class="body">text</div>
                        </div>
                        
                        <div class="icon">
                            <div class="like">
                                <i class="fa-solid fa-heart"></i>
                                <div>10</div>
                            </div>
                            <div class="comment">
                                <i class="fa-regular fa-message"></i>
                                <div>10</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="post">
                    <section class="post_header">
                        <div class="profile">
                            <div class="image"></div>
                            <div class="name">Somder1</div>
                        </div>
                        <i class="fa-solid fa-thumbtack"></i>
                    </section>
                    <div class="about_post">
                        <div class="image"></div>
                        
                        <div class="text">
                            <div class="title">Somd1</div>
                            <div class="body">text</div>
                        </div>
                        
                        <div class="icon">
                            <div class="like">
                                <i class="fa-solid fa-heart"></i>
                                <div>10</div>
                            </div>
                            <div class="comment">
                                <i class="fa-regular fa-message"></i>
                                <div>10</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    {% if posts %}
                        {% for post in posts %}
                            <a href="{% url 'main:viewpost' post.id %}">{{ post.title }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
        </section>
    
    </section> 

</section>

<!-- 
<h1>소모임별 메인피드</h1>

        <h3>{{ somd.name }}</h3>
        {% if somd.department is not None %}
            {{ somd.department }} 소모임! <br>
        {% else %}
            {{ somd.category }} 소모임! <br>
        {% endif %}

        {{ somd.intro }}
-->

{% endblock %}

