{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/members.css' %}">

<section class="header">
  <section class="mainTitle">
      <a href="{% url 'main:mainfeed' somd.id %}"><i class="fa-solid fa-chevron-left"></i></a>
      <div>{{ somd.name }}</div>
  </section>
</section>
<section class="EmptyForHeader"></section>

<section class="somdPage">
    <section class="mainTitle">
        <i class="fas fa-portrait"></i>
        관리하기
    </section>
    <section class="mainForm">
        <div>
          <section class="titlebtn">
            <a class="button">신규회원관리</a>
          </section>
          
          {% for request in somd.join_requests.all %}
          <section class="clickSpan newMemberForm">
            <p class="newMemberName">{{request.writer.profile.nickname}}</p>
            <div class="newMemberFormTitle">{{request.title}}</div>
            <div class = "newMemberFormAction" style="display: none;">
              {% url 'main:members_wantTojoin' somd.id request.id%}
            </div>
          </section>
          {% endfor %}
          
          <form id="popup" class="popup" style="display: none;"  method="POST" enctype="multipart/form-data" onsubmit="return false;">
            {% csrf_token %}  
            <p>NEW JOIN REQUEST!</p>
              <div class="popupjoinform">
                  <p class="popupName" style="color:black; font-size: 15px; font-weight: bold; margin:0"></p>
                  <p class="popupTitle" style="color:gray; font-size: 10px; font-weight: 500; margin:0"></p>
              </div>
              <div class="popupBtns">
                  <button id="acceptBtn" class="popupBtn" onclick="wantTojoin(event)">승인</button>
                  <button id="rejectBtn" class="popupBtn" onclick="wantTojoin(event)">거부</button>
                  <input id="wantTojoin_result" type="text" name="wantTojoin_result" style="display: none;">

              </div>
            </from>
        </div>

        <div>
            <section class="titlebtn">
              <a class="button">회원관리</a>
            </section>


            {% for join_user in somd.join_members.all %}

            <section id="drag-drop-section1">
              <section class="existingMember draggable" draggable="true" ondragstart="drag(event)">
                <i class="fas fa-sort"></i>
                <div class="manageMemberForm">
                  <div class="existingMemberInfo">
                    <span class="existingMemberName">{{join_user.profile.nickname}}</span>
                    <span class="existingMemberCol">{{join_user.profile.college}} {{join_user.profile.department}}</span>
                  </div>
                  <a class="deleteBtn" href= "{% url 'main:members_delete' somd.id join_user.id %}">삭제</a>
                </div>
              </section>
            </section>

            {% endfor %}
            </section>
          </div>
    </section>
</section>

<script>
    //Drag and drop Test 1 #20230622 15:00
    // function allowDrop(event) {
    //   event.preventDefault();
    // }

    // function drag(event) {
    //   event.dataTransfer.setData("text/plain", event.target.id);
    // }

    // function drop(event) {
    //   event.preventDefault();
    //   var data = event.dataTransfer.getData("text/plain");
    //   var draggableElement = document.getElementById(data);
    //   var dropzone = event.target;

    //   // 드롭된 위치에 섹션을 삽입
    //   dropzone.parentNode.insertBefore(draggableElement, dropzone);
    // }

    //     var draggables = document.getElementsByClassName("draggable");
    // var selectedElement = null;
    // var offset = { x: 0, y: 0 };

    // // 드래그 시작 시 호출되는 함수
    // function dragStart(event) {
    //   selectedElement = event.target;
    //   offset.x = event.clientX - selectedElement.offsetLeft;
    //   offset.y = event.clientY - selectedElement.offsetTop;
    // }

    // // 드래그 중에 호출되는 함수
    // function drag(event) {
    //   event.preventDefault();
    //   if (selectedElement) {
    //     selectedElement.style.left = (event.clientX - offset.x) + "px";
    //     selectedElement.style.top = (event.clientY - offset.y) + "px";
    //   }
    // }

    // // 드래그 종료 시 호출되는 함수
    // function dragEnd() {
    //   selectedElement = null;
    // }

    // // 각각의 draggable 요소에 이벤트 리스너를 추가합니다.
    // for (var i = 0; i < draggables.length; i++) {
    //   draggables[i].addEventListener("dragstart", dragStart, false);
    //   draggables[i].addEventListener("drag", drag, false);
    //   draggables[i].addEventListener("dragend", dragEnd, false);
    // }
    
//***************************
    //Drag and drop Test 2 #20230622 15:15
    document.addEventListener("DOMContentLoaded", function() {
  const draggables = document.querySelectorAll(".draggable");
  const dragDropSections = document.querySelectorAll("#drag-drop-section");
  let draggedElement;

  draggables.forEach(function(draggableElement) {
    draggableElement.addEventListener("dragstart", function(event) {
      event.dataTransfer.setData("text/plain", draggableElement.id);
      draggedElement = draggableElement;
      setTimeout(function() {
        draggableElement.style.opacity = "0.5";
      }, 0);
    });

    draggableElement.addEventListener("dragend", function() {
      draggableElement.style.opacity = "1";
    });
  });

  dragDropSections.forEach(function(dragDropSection) {
    dragDropSection.addEventListener("dragover", function(event) {
      event.preventDefault();
    });

    dragDropSection.addEventListener("drop", function(event) {
      event.preventDefault();
      const droppedElementId = event.dataTransfer.getData("text/plain");
      const droppedElement = document.getElementById(droppedElementId);
      dragDropSection.appendChild(droppedElement);
    });
  });
});

function memberPopup(event) {
  event.preventDefault();
  // 클릭된 요소의 내용을 가져옴
  var target = event.target;

  // 클릭된 요소의 내용을 가져옴
  if(!target.classList.contains("clickSpan")){
    target = target.parentNode;
  }
  
  // console.log(target)
  var name = target.querySelector(".newMemberName").innerText;
  var title = target.querySelector(".newMemberFormTitle").innerText;
  // console.log(target.querySelector(".newMemberFormAction"))
  var formAction = target.querySelector(".newMemberFormAction").innerText;

  // 팝업 창 표시
  var popup = document.getElementById("popup");
  var popupName = popup.querySelector(".popupName");
  var popupTitle = popup.querySelector(".popupTitle");

  popupName.innerText = name;
  popupTitle.innerText = title;
  popup.style.display = "block";
  popup.action =formAction;
}

// // 닫기 버튼을 클릭했을 때 실행되는 함수
// function closePopup() {
//   // 팝업 창 숨김
//   var popup = document.getElementById("popup");
//   popup.style.display = "none";
// }

// 각 clickSpan 요소에 클릭 이벤트 리스너 추가
var clickSpans = document.getElementsByClassName("clickSpan");
for (var i = 0; i < clickSpans.length; i++) {
  clickSpans[i].addEventListener("click", memberPopup);
}

// 닫기 버튼에 클릭 이벤트 리스너 추가
// var closeBtn = document.getElementById("closeBtn");
// closeBtn.addEventListener("click", closePopup);
  
function wantTojoin(event){
  wantTojoin_result = document.getElementById("wantTojoin_result")

  if(event.target.id == "acceptBtn"){
    wantTojoin_result.value = "accept"
    
  }
  else if(event.target.id == "rejectBtn"){
    wantTojoin_result.value = "reject"
  }
  else{

  }
  document.getElementById("popup").submit();
}
</script>

{% endblock %}