{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/new.css' %}">

<section class="header">
    <section class="mainTitle">
        <div class="historyBack"><i class="fa-solid fa-chevron-left"></i></div>
        <!-- <i class="fa-solid fa-house"></i> -->
        <div>글 쓰기</div>
    </section>
</section>
<section class="EmptyForHeader"></section>

<section class="somdPage">
    <section class="mainfeed">
        <section class="feed_header">
            {% if somd.backgroundimage %}
            <div class="background image" 
                style="background-image:url({{somd.backgroundimage.url}});">
            {% else %}
            <div class="background image">
            {% endif %}
                <a class="bookmark"><i class="fa-regular fa-star"></i></a>
                <div class="info">
                    <div>#{{ somd.category }}</div>
                    <div>{{ somd.department }}</div>
                </div>
            </div>

            <div class="profile">
            {% if somd.profileimage %}
            <div class="image" 
                style="background-image:url({{somd.profileimage.url}});"></div>
            {% else %}
            <div class="basic somd image">somd</div>
            {% endif %}
            </div>

            <div class="info">
                <div class="name">{{ somd.name }}</div>
                <div>{{ somd.intro }}</div>
                <!-- <div>{{ somd.admin.username }}</div> -->
            </div>
        </section>

        <div class="titlebtn">
            <a class="button">글 쓰기</a>
        </div>
    
        <div class="mainForm">
            <section class="joinForm">
                <input type="text" name="title" class="titleForm" placeholder="TITLE">
                <textarea type="text" name="text" class="textForm" placeholder="TEXT"></textarea>
                <section class="textFormInnerBtn">
                    <i class="far fa-image"></i>
                    <i class="fas fa-unlock-alt"></i>
                </section>
            </section>
        </div>

        <div class="test">
            <button type="submit" id="uploadBtn" class="button">업로드</button>
        </div>
        <!-- <form action = "{% url 'main:createpost' somd.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <p>제목 : <input type="text" name="title"></p>

            <p>사진 : <input type="file" accept = "image/*" name ="images" multiple></p>
            <p>내용 : <textarea type="textarea" name="content" id="" cols="30" rows="10"></textarea></p>
            
            <button type="submit">제출</button>
        </div>
    </form> -->
</section>
{% endblock %}