{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/viewpost.css' %}">

<section class="header">
    <section class="mainTitle">
        <div class="historyBack"><i class="fa-solid fa-chevron-left"></i></div>
        <!-- <i class="fa-solid fa-house"></i> -->
        <div>{{ somd.name }}</div>
        <a href="" class="button"><span><i class="fa-solid fa-pen"></i> 글수정</span></a>
    </section>
</section>
<section class="EmptyForHeader"></section>

<section class="somdPage">

    <section class="viewpost">
        <section class="viewpost_header">
            <div class="title">{{post.title}}</div>
            <div class="info">
                <div class="profile">
                    <div class="image" style="background-image:url({{ post.writer.profile.profile_pic.url }});"></div>
                    <div class="name">{{post.writer}}</div>
                </div>
                <div class="date">{{post.pub_date}}</div>
            </div>
        </section>

        <section class="viewpost_body">
            <p>{{post.content}}</p>
            {% if post.images %}
                {% for image in images %}

                    <!-- <div class="image" style="background-image:url( {{ image.image.url }} );"></div> -->
                    <div class="image">
                        <img src="{{image.image.url}}" alt="사진" onclick="window.open(this.src)">
                    </div>
                {% endfor %}
            {% endif %}
        </section>

        <section class="viewpost_footer">
            <div class="icon">
                <div class="like">
                    <i class="fa-solid fa-heart"></i>
                    <div>10</div>
                </div>
                <div class="comment">
                    <i class="fa-regular fa-message"></i>
                    <div>10</div>
                </div>
            </div>

            <div class="scrap">
                <i class="fa-regular fa-bookmark"></i>
            </div>

        </section>
       
        <section class="viewpost_commentConatiner">

            <form class="comment_form" method="POST" action="{% url 'main:viewpost' post.id %}">
                {% csrf_token %}
                <input class="text" type="text" name="comment" required>
                <button class="submit" type="submit" name="submit">
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
            </form>

            <div class="title">댓글 <i class="fa-solid fa-angle-right"></i> </div>

            <div class="comment_list">
                {% for comment in comments %}
                <div class="comment">
                    <div class="profile">
                        <div class="image" style="background-image:url({{ comment.writer.profile.profile_pic.url }});"></div>
                        <div class="name">{{ comment.writer }}</div>
                    </div>
                    <div class="comment_body">
                        {{ comment.content }}
                    </div>
                    <div class="comment_footer">
                        {{ comment.pub_date }}
                    </div>
                </div>

                {% endfor %}
            </div>
        </section>
    </section>

</section>

{% endblock %}